html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  width: 200px;
  height: 200px;
  background: red;
  animation-name: minhaAnimacao;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.box:hover {
  border: 5px solid black;
  transition: border 3s 2s;
}

@keyframes minhaAnimacao {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(40px) rotate(90deg);
    background: blue;
  }
}
