.table{
    font-family: Verdana,Geneva,Arial,Helverica;
    font-size: 10pt;
    text-align: center;
    padding-left: 4px;
    border: 1px solid black;
    border-collapse: collapse;
}

.table td,th{
    border: 1px solid black;
}

.head{
    background-color: #b2beff;
}

.liinhaImpar{
    background-color: #C1CDC1;
}
.liinhaPar{
    background-color: #E0EEE0;
}
.liinhaTotal{
    background-color: #EEE0E5;
}

.table tr:hover{
    background-color: aqua;
}