.fontSerif{
    font-family: 'Times New Roman';
    font-size: 2.6em;
}

.fonteSans-Serif{
    font-family: 'Verdana';
    font-size: 1.3em;
}

.fontMonospace{
    font-family: 'Courier New';
    font-size: 00.65em;
}

.conteudo{
    font-size: 30px;
}