.bg-red-white-text {
    background-color: red;
    color: white;
}

.bg-red-white-text .navbar-brand,
.bg-red-white-text .nav-link {
    color: white;
}

.bg-red-white-text .nav-link:hover {
    color: white;

}

.navbar-nav .nav-link:hover {
    background-color: #000000;
    color: #ffffff;
}

.card {
    background: #bec7e4;
    border: 1px solid rgb(25, 0, 83);
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    margin: 10px;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-check input {
    margin-right: 10px;
}


.btn-facebook {
    background-color: #3b5998;
    color: white;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}

.btn-google {
    background-color: #db4437;
    color: white;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}

.btn-social i {
    margin-right: 10px;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

p {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    color: #888;
}

.links {
    margin: 20px;
}